@font-face {
	font-family: Erode;
	src: url("/fonts/Erode.woff2")
		format("woff2");
	font-weight: 400;
	font-display: swap;
}

html, body {
  height: 100%;
}

img {
	width: 100%;
}

body {
	font-family: Erode;
	display: flex;
	flex-direction: column;
	margin: 0;
	background: #F5C45E;
	color: #102E50;
}

.container {
	display: flex;
	margin: 2rem auto;
	max-width: 26.25rem;
	align-content: center;
	flex-direction: column;
	flex: 1 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 2rem;
}

time, .tag {
	font-family: monospace;
}

a {
	color: #BE3D2A;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #7B1781;
}

.post {
	border-bottom: 1px dashed #76abae;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

.tag {
	margin-right: 1rem;
	padding: 0.125rem 0.5rem;
	background: #b1bac9;
	color: #404040;
	border-radius: 9px;
}

.tag a {
	color: #;
}

.tags {
	display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
}

footer {
	background: #102E50;
	padding: 2rem;
	flex-shrink: 0;
}

.page-links {
	display: flex;
	justify-content: space-between;
}

footer p, footer a {
	color: #F5C45E;
}

.tag a {
	color: #222831;
}

footer a:visited {
	color: white;
}