---
import Layout from '../layouts/Layout.astro';
import Pagination from '../components/Pagination.astro';
import Tags from '../components/Tags.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('posts');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 20 });
}

export interface Props {
	page: any;
}

const { page } = Astro.props;

---

<Layout title="Emptygold" description="Blogging—it's a personal thing.">
	    <main>
	    	<Tags page={page} />
	    </main>

	    <Pagination page={page} />
	</Layout>