---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>About Emptygold</h1>
	<p>Emptygold is a "nocial notwork" blog that I use as a replacement for regular social media. It's an outlet for when I don't want to be part of the toxic sludge of a modern social media timeline. No reach, no recommendation algorithms, just HTML, CSS, and JS.</p>
	<h2>Why "Emptygold"?</h2>

	<p><a href="https://lukealexdavis.co.uk/posts/emptygold-blogger/">I wrote about that here.</a></p>

	<h2>Why a hippo?</h2>

	<p>Because I love hippos.</p>

	<h2>About the site</h2>

	<p>This site is set to noindex as I don't want it to be indexed by any search engines. I also have blocked several AI bots in my robots.txt file (for what use that is; better than nothing I guess?) Emptygold is accessible on the Web but this is still a relatively personal project only made for me and whomever I want to see it.</p>

	<p>With that said, I'd appreciate it if you didn't pass on links of any pages to anyone else.</p>
</Layout>