---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.svg';


interface Props {
  title: string;
  description: string;
  pubDate: string;
  canonicalURL: string | URL;
  url: string | URL;
}

const { title, description, pubDate, canonicalURL = Astro.url } = Astro.props;

---
<html lang="en-GB">
  <BaseHead {title} {description} {canonicalURL} />
  <div class="container">
  <body>
  	<header>
		<a href="/"><img src="/favicon.png" width="64" loading="eager" /></a>
			<Logo />
	</header>
      <slot />
  </body>
</div>
<Footer />
</html>